<% include ../header.ejs %>
<h3>话题列表</h3>
<button type="button" class="btn btn-info"><a style="color: white;" href="/myQuestion_sortByTime">根据时间排序</a></button>
<button type="button" class="btn btn-info"><a style="color: white;" href="/myQuestion_sortByUp">根据好评数排序</a></button>
<table class="table table-hover">
	<thead>
		<th>序号</th>
		<th>标题</th>
		<th>提问者</th>
		<th>提问时间</th>
	</thead>
	<% for(var i=0; i<result.length; i++){ %>
	<tr>
		<td>
			<%= i %>
		</td>
		<td>
			<a href="/questions/detail?_id=<%= result[i]._id %>">
				<%= result[i].title %>
			</a>
		</td>
		<td>
			<%= result[i].username %>
		</td>
		<td>
			<%= result[i].date %>
		</td>
	</tr>
	<%}%>
</table>
</div>
</div>
</div>
</body>

</html>