<% include ../header.ejs %>

<div>
	<h3><%= result.title%></h3>
	<pre><%= result.content%></pre>
	<span>
		<%if(isUp){%>
			<button type="button" class="btn btn-danger"><a style="color: white;" href="/questions/up">顶：<%= result.up.length%></a></button>
		<%}else{%>
			
			<button type="button" class="btn btn-default"><a  href="/questions/up">顶：<%= result.up.length%></a></button>
		<%}%>
		<%if(isDown){%>
			<button type="button" class="btn btn-warning"><a style="color: white;" href="/questions/down">踩：<%= result.down.length%></a></button>
		<%}else{%>
		<button type="button" class="btn btn-default"><a href="/questions/down">踩：<%= result.down.length%></a></button>
		<%}%>
	</span>
	<button type="button" class="btn btn-default"><a href="/questions/comment">去评论</a></button>
</div>

<div>
	<h3>评论</h3>
	<ul style="list-style: none;">
		<% for(var i=0; i<result.comments.length; i++){ %>
			<hr />
			<li>
				<h4><%= result.comments[i].username %>：</h4>
				<pre><%= result.comments[i].content %></pre>
				<%if(result.comments[i].thumbUp.length == 0){%>
					<button type="button" class="btn btn-default">
						<a href="/questions/thumbUp?commentId=<%= result.comments[i]._id %>">
						点赞:<%= result.comments[i].thumbUp.length %></a>
					</button>
				<%}%>
				<%for(var j=0; j<result.comments[i].thumbUp.length; j++){%>
					<%if(result.comments[i].thumbUp[j] == username){%>
						<button type="button" class="btn btn-danger">
							<a style="color: white;" href="/questions/thumbUp?commentId=<%= result.comments[i]._id %>">
							点赞:<%= result.comments[i].thumbUp.length %></a>
						</button>
						<%break%>
					<%}else if(j == result.comments[i].thumbUp.length-1){%>
						<button type="button" class="btn btn-default">
							<a href="/questions/thumbUp?commentId=<%= result.comments[i]._id %>">
							点赞:<%= result.comments[i].thumbUp.length %></a>
						</button>
					<%}%>
				<%}%>
				
			</li>
			
		<%}%>
	</ul>
	</div>
	</div>
</div>
</div>
</body>
</html>