<% include ../header.ejs %>

<div>
	<h2><%= result.title%></h2>
	<p><%= result.content%></p>
	<span>
		<%if(isUp){%>
			<a style="color: red;" href="/questions/up">顶：<%= result.up.length%></a>
		<%}else{%>
			<a href="/questions/up">顶：<%= result.up.length%></a>
		<%}%>
		<%if(isDown){%>
			<a style="color: red;" href="/questions/down">踩：<%= result.down.length%></a>
		<%}else{%>
		<a href="/questions/down">踩：<%= result.down.length%></a>
		<%}%>
	</span>
	<a href="/questions/comment">去评论</a>
</div>
<div>
	<h2>评论</h2>
	<ul>
		<% for(var i=0; i<result.comments.length; i++){ %>
			<li>
				<h3><%= result.comments[i].username %></h3>
				<p><%= result.comments[i].content %></p>
				<%if(result.comments[i].thumbUp.length == 0){%>
					<span>
						<a href="/questions/thumbUp?commentId=<%= result.comments[i]._id %>">
						点赞:<%= result.comments[i].thumbUp.length %></a>
					</span>
				<%}%>
				<%for(var j=0; j<result.comments[i].thumbUp.length; j++){%>
					<%if(result.comments[i].thumbUp[j] == username){%>
						<span>
							<a style="color: red;" href="/questions/thumbUp?commentId=<%= result.comments[i]._id %>">
							点赞:<%= result.comments[i].thumbUp.length %></a>
						</span>
						<%break%>
					<%}else if(j == result.comments[i].thumbUp.length-1){%>
						<span>
							<a href="/questions/thumbUp?commentId=<%= result.comments[i]._id %>">
							点赞:<%= result.comments[i].thumbUp.length %></a>
						</span>
					<%}%>
				<%}%>
				
			</li>
		<%}%>
	</ul>
</div>

</body>
</html>